.tabs, .active-tabs{
  border-bottom: none;
  width: 33%;
  font-size: 20px;
  padding: 20px 30px;
  cursor: pointer;
  box-sizing: content-box;
}
.active-tabs{
  background-color: rgb(153, 153, 243);
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom: 5px solid blue;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-bottom: none;
  width: 33%;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-control{
  display: block;
  width: 90vw;
  max-width: 300px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.update-btn{
  cursor: pointer;
}
.delete-btn{
  height: 30px;
  margin-right: 20px;
  flex-direction: row;
  justify-content: flex-end;

}
