.tabs,
.active-tabs {
  border-bottom: none;
  width: 33%;
  font-size: 20px;
  padding: 20px 30px;
  cursor: pointer;
}
.active-tabs {
  background-color: rgb(153, 153, 243);
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom: 5px solid blue;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-bottom: none;
  width: 33%;
}
.last {
  margin-left: 150px;
}
.row {
  display: flex;
  flex-direction: row;
}
.save-delete-row {
  display: flex;
  flex-direction: row-reverse;
}
.save-btn,
.delete-btn {
  width: 100px;
  height: 20px;
  font-size: 12px;
  margin-top: 10px;
  justify-content: flex-end;
}

.form-control {
  display: block;
  width: 90vw;
  max-width: 300px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.delete-btn,
.save-btn {
  cursor: pointer;
}
.delete-btn:hover,
.save-btn:hover {
  color: white;
  background-color: #9999f3;
  border: 2px solid #9999f3;
  border-radius: 3px;
  cursor: pointer;
}

/* Media Queries */

@media only screen and (max-width: 320px) {
  .active-tabs {
    font-size: 14px;
    background-color: none;
    width: 25%;
  }
  .tabs {
    font-size: 14px;
    width: 25%;
  }
  h2 {
    font-size: 16px;
    color: blue;
  }
}

@media only screen and (max-width: 599px) {
  .tabs,
  .active-tabs {
    font-size: 14px;
  }
  h2 {
    font-size: 16px;
    color: blue;
  }
}
