.event-wrapper {
  width: 80vw;
}
.display-card {
  width: 80vw;
  margin: 2% auto;
}
.back {
  display: flex;
  font-size: 16px;
  font-style: italic;
  padding-top: 20px;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 50px;
  cursor: pointer;
}
.back:hover {
  font-weight: bolder;
}
h1 {
  margin-left: 7%;
}
.register:hover {
  color: blue;
  background-color: rgb(230, 230, 249);
  transition: ease-in 0.5;
}
.remove {
  color: blue;
  background-color: rgb(230, 230, 249);
  transition: ease-in 0.5;
}
.remove:hover {
  color: white;
  background-color: rgb(197, 197, 242);
  transition: ease-in 0.8;
}
.register {
  background-color: rgb(230, 230, 249);
  transition: ease-in 0.5;
  margin-bottom: 10px;
  height: 30px;
}
.event-name {
  font-weight: bolder;
}
.event-ngo-name {
  font-weight: bolder;
  font-size: 18px;
  margin-top: 25px;
  cursor: pointer;
  margin-left: 5%;
  color: rgb(112, 81, 253);
}
.event-ngo-name:hover {
  color: rgb(112, 81, 253);
  font-weight: bolder;
  transform: translateX(5px);
  transition-duration: 1s, 3s;
}

/* Media Queries */

@media only screen and (max-width: 599px) {
  .event-wrapper {
    width: 100vw;
    margin-left: 10%;
  }
}
