.event-wrapper {
  width: 80vw;
}
.display-card {
  width: 80vw;
}
h1 {
  margin-left: 7%;
}
.register:hover {
  color: blue;
  background-color: rgb(230, 230, 249);
  transition: ease-in 0.5;
}
.remove {
  color: grey;
}
.remove:hover {
  color: blue;
  background-color: rgb(230, 230, 249);
  transition: ease-in 0.5;
}
.register {
  background-color: rgb(230, 230, 249);
  transition: ease-in 0.5;
  margin-bottom: 10px;
  height: 30px;
}
.event-ngo-name {
  font-weight: bolder;
  font-size: 16px;
  margin-top: 25px;
  cursor: pointer;
}
.event-ngo-name:hover {
  color: blue;
  font-weight: bolder;
}
