.event-wrapper {
  width: 80vw;
}
.heading-wrapper {
  padding: 0px 20px;
  margin: 20px auto;
  width: 80vw;
}
.skip-link{
  position: fixed;
  top: .5rem;
  left: .5rem;
  padding: .5rem;
  translate: 0 -130%;
  transition: translate 150ms ease-in-out;
  border-radius: 5px;
  border: 2px solid #795cfa;
  background-color: white;
  text-decoration: none;
  color: blue;
}
.skip-link:focus{
  translate: 0;
}
.display-card {
  width: 80vw;
  margin: 2% auto;
}
.back {
  display: flex;
  font-size: 16px;
  font-style: italic;
  padding-top: 20px;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 50px;
  cursor: pointer;
}
.back:hover {
  font-weight: bolder;
}
h1 {
  margin-left: 7%;
}
.register:hover {
  color: blue;
  background-color: rgb(230, 230, 249);
  transition: ease-in 0.5;
}
.remove {
  color: blue;
  background-color: rgb(230, 230, 249);
  transition: ease-in 0.5;
}
.remove:hover {
  color: white;
  background-color: rgb(197, 197, 242);
  transition: ease-in 0.8;
}
.interested {
  font-size: 14px;
  color: blue;
  background-color: rgb(230, 230, 249);
  transition: ease-in 0.5;
}
.interested:hover {
  color: rgb(180, 180, 239);
  background-color: rgb(230, 230, 249);
  transition: ease-in 0.5;
}
.event-name {
  font-weight: bolder;
}
.event-ngo-name {
  font-weight: bolder;
  font-size: 20px;
  margin-top: 25px;
  cursor: pointer;
  color: rgb(112, 81, 253);
}
.event-ngo-name:hover {
  color: rgb(112, 81, 253);
  font-weight: bolder;
  transform: translateX(5px);
  transition-duration: 1s, 3s;
}
.org {
  color: black;
  font-size: 10px;
  margin-left: 0px;
}
