button{
  cursor: pointer;
}
.heading, .contact, h1{
  margin: 30px 60px;
  justify-content: center;
}
.goal, .donate, .favorite{
  height: 36px;
  border: 2px solid purple;
  color: purple;
  border-radius: 20px;;
  width: 100px;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
  margin-bottom: -30px;
}
.back{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 30px;
  cursor: pointer;
}
.fave-list{
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
}
span:hover{
  color: purple;
  background: none;
}
.donation-card{
  border: 1px solid orange;
  width: 500px;
  height: 400px;
  margin-left: 40px;
}
.donation-options{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
.donation-input{
  width: 100px;
}
textarea:focus, .donation-input:focus{
  outline: none;
}
/* .form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
} */
.amount-btn{
  cursor: pointer;
}
.column{
  display: flex;
  justify-content: space-between;
}
.process{
  cursor: pointer;
  border: 1px solid palevioletred;
  width: 70px;
}