button{
  cursor: pointer;
}
.heading, .contact, h1{
  margin: 30px 60px;
  justify-content: center;
}
.following{
  height: 36px;
  border: 2px solid purple;
  color: purple;
  border-radius: 20px;;
  width: 100px;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
  margin-bottom: -30px;
}
.heart{
  width: 200px;
}