button{
  cursor: pointer;
}
.url{
  margin-bottom: 20px;
  cursor: pointer;
}
.url:hover{
  color: blue;
}
.heading, .contact, h1{
  margin: 30px 60px;
  justify-content: center;
}
.goal, .donate, .favorite{
  height: 36px;
  border: 2px solid purple;
  color: purple;
  border-radius: 20px;;
  width: 100px;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
  margin-bottom: -30px;
}
.back{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 30px;
  cursor: pointer;
}
.heart{
  font-size: 30px;
  cursor: pointer;
}
.heart-text{
  font-size: 10px;
  position: relative;
  visibility: hidden;
  left: -20px;
}
.heart:hover{
  color: purple;
}
.heart:hover .heart-text{
  visibility: visible;
}
.fave-list{
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
}
span:hover{
  color: purple;
  background: none;
}
.favorites-container{
  border: 1px solid blue;
}
.donation-card{
  border: 1px solid orange;
  width: 500px;
  height: 400px;
  margin-left: 40px;
}