body{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
} 
.login-card{
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 700px;
  margin-top: 0px;
}
.container{
  height: 80vh;
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}
.form-container{
  border: 2px solid #19add6;
  height: 70vh;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}
input{
  border: 2px solid #19add6;
  margin-bottom: 20px;
  width: 350px;
}
.login-submit{
  height: 40px;
  cursor: pointer;
  width: 355px;
  color: white;
  font-size: 16px;
  border: 2px solid #19add6;
  border-radius: 0px;
  margin-right: 4px;
  background-color: #19add6;
}
.submit:hover{
  background-color: darkgrey;
  color: black;
  transition: ease-in 2s;
}
.new-account{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.no-account{
  font-size: 14px;
  margin-left: 0px;
} 
.register{
  font-size: 12px;
  margin-left: 120px;
}
.register:hover{
  color: #19add6;
  cursor: pointer;
}
