.login-wrapper{
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; 
  border-radius: 25px; */
  width: 60%;
  height: 60vh;
  display: flex;
  justify-content: center;
  margin: 50px auto;
  flex-direction: column;
  margin-top: 100px;
  padding: 50px 50px;
}
.form-wrapper{
  padding: 20px;
  height: 80%;
  margin: 30px auto;
}
.form-content{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
form{
  display: flex;
  flex-direction: column;
}
input {
  height: 50px;
}
.form-password, .form-username{
  padding-bottom: 20px;
  width: 300px;
}
.submit{
  height: 40px;
  cursor: pointer;
  margin-bottom: 10px;
  width: 300px;
  color: grey;
  font-size: 16px;
  border-radius: 0px;
  border: 1px solid grey;
}
.forgot{
  font-size: 12px;
  font-weight: lighter;
  text-align: right;
  margin-top: 0px;
  margin-right: 0px;
  color: blue;
}
.facebook-row{
  display: flex;
  background-color: #3b579d;
  color: white;
  font-size: 16px;
  width: 300px;
  border-radius: 0px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.google-row{
  background-color: black;
  color: white;
  font-size: 16px;
  width: 300px;
  border-radius: 0px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.icon{
  margin-right: 10px;
}
.new-account{
  display: flex;
  justify-content: space-between;
}
.no-account, .register{
  font-size: 14px;
}