body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.login-logo {
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
}
.login-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 700px;
  margin-top: 0px;
}
.login-wrapper {
  height: 80vh;
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}
.error {
  color: red;
  font-weight: bolder;
}
.hello {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 0px;
}
.form-container {
  border: 2px solid #19add6;
  height: 70vh;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}
input {
  border: 2px solid #19add6;
  margin-bottom: 20px;
  width: 350px;
  height: 50px;
  margin-top: 0px;
  margin-bottom: 20px;
}
.login-submit {
  height: 40px;
  cursor: pointer;
  width: 350px;
  color: white;
  font-size: 16px;
  border: 2px solid #19add6;
  background-color: #19add6;
  justify-content: center;
}
.login-submit:hover {
  border: none;
  background-color: #322ca9;
  color: white;
  transition: ease-in 0.5s;
}
.new-account {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.no-account {
  font-size: 14px;
  margin-left: 0px;
}
.new-user {
  background-color: none;
  font-size: 14px;
  color: blue;
  margin-left: 120px;
}
.new-user:hover {
  color: rgb(115, 115, 248);
  cursor: pointer;
  font-weight: bold;
}
.text {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

/* Media Queries */

@media only screen and (max-width: 320px) {
  input {
    width: 160px;
  }
  .login-submit {
    width: 160px;
  }
  .no-account {
    display: none;
  }
  .register {
    font-size: 12px;
    align-items: right;
  }
}

@media only screen and (max-width: 600px) {
  input {
    width: 200px;
  }
  .login-submit {
    width: 208px;
  }
  .no-account {
    display: none;
  }
  .register {
    font-size: 12px;
    align-items: right;
  }
}

@media only screen and (min-width: 992px) {
  input {
    width: 400px;
  }
  .login-submit {
    width: 408px;
  }
  .no-account {
    font-size: 16px;
  }
  .register {
    font-size: 16px;
    align-items: right;
  }
}
