.header1 {
  margin-bottom: 10px;
  margin-left: 10px;
}
.follow-ngo-btn {
  color: white;
  background-color: rgb(167, 88, 241);
  border: 2px dashed rgb(167, 88, 241);
  border-radius: 5px;
  margin-right: 20px;
  margin-top: 0px;
}
.donate:hover,
.follow-ngo-btn:hover {
  background-color: rgb(145, 17, 236);
  border: 2px solid rgb(145, 17, 236);
  border-radius: 5px;
  transition: ease-in 0.5s;
}
.confirmation {
  font-size: 20px;
  color: purple;
  font-weight: bolder;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.button-row {
  display: flex;
  margin-left: 30px;
  flex-direction: row;
}
.back {
  display: flex;
  font-size: 14px;
  font-style: italic;
  padding-top: 20px;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 40px;
  cursor: pointer;
}
.back:hover {
  color: blue;
}
.button-row {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 10px;
}
.buttons {
  flex-direction: row-reverse;
}
.details {
  font-size: 14px;
}
.register {
  font-size: 14px;
}
.details:hover {
  color: blue;
  background-color: rgb(230, 230, 249);
  transition: ease-in 0.5;
}
h2 {
  margin-left: 5%;
}
.ngo-event-card {
  border: 2px dashed plum;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.ngo-event-card:hover {
  border: 2px solid plum;
}
.ngo-events {
  width: 90%;
  margin: 0% auto;
  border-radius: 10px;
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
}
.donation-card {
  width: 500px;
  margin-left: 40px;
  padding: 10px;
  margin-top: 10px;
}
.donation-input {
  width: 100px;
}
textarea:focus,
.donation-input:focus {
  outline: none;
}
.ngo-name {
  font-size: 20px;
}
.column {
  display: flex;
  justify-content: space-between;
}
.process {
  cursor: pointer;
  width: 70px;
}
.payment {
  display: flex;
  flex-direction: row;
}
.stripe-btn {
  background-color: white;
  margin-left: 0px;
  border: none;
}

.save-btn {
  cursor: pointer;
}
.donation-card {
  margin: 0 auto;
}
.form-control {
  flex: 0 1 auto;
  display: block;
  width: 80%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

/* Media Queries */

@media only screen and (max-width: 480px) {
  .donation-card {
    border: none;
  }
  .header1,
  .header2 {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .span {
    width: 90px;
    height: 30px;
  }
  .back {
    visibility: hidden;
  }
  .follow {
    margin-left: 10px;
    margin-top: 0px;
    font-size: 10px;
    padding: 4px;
    border: none;
  }
  .header-text .header1 {
    font-size: 10px;
    width: 100%;
  }
}
