.ngos-wrapper {
  width: 90%;
  margin: 0 auto;
}
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2% 7%;
}
.numResults {
  padding: 5px;
  background-color: #f6f6fa;
  border-radius: 10px;
}
.pagination-buttons {
  display: flex;
  flex-direction: row;
}
.display {
  margin: 0px auto;
  justify-content: start;
}
.results-heading {
  display: flex;
  margin: 0 auto;
  width: 60vw;
  flex-direction: row;
  font-weight: bolder;
}
.results-heading p {
  margin-right: 5%;
}
.results-container {
  width: 80%;
  margin: 0 auto;
  font-size: 12px;
  padding: 2%;
}
.results-container p {
  margin-right: 3%;
}
.results-wrapper {
  display: flex;
  flex-direction: row;
  width: 70vw;
  cursor: pointer;
}
.results-wrapper p {
  font-size: 14px;
}
.opportunities:hover {
  text-decoration: underline;
}
.event-ngo {
  padding-left: 10px;
  font-weight: normal;
}
.one-event {
  text-decoration: underline;
}
.one-event:hover {
  color: rgb(121, 92, 250);
}
.one-name {
  color: blue;
}
.currentNum {
  margin-right: 0px;
  margin-top: 20px;
}
.next {
  width: 100px;
}
.next,
.previous {
  cursor: pointer;
  color: rgb(121, 92, 250);
  font-family: "Poppins", sans-serif;
  width: 120px;
  background-color: #ffffff;
}
.next:hover,
.previous:hover {
  color: rgb(92, 56, 253);
  font-weight: bolder;
}
.arrow:hover {
  color: white;
}
.contact {
  padding-top: 20px;
}
.volunteer-btn {
  margin-top: 0px;
  margin-bottom: 40px;
}
.ngo-name {
  color: #322ca9;
  font-family: "League Gothic", sans-serif;
  margin-right: 10px;
  font-size: 38px;
  letter-spacing: 0.5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.followed-orgs,
.follow-event {
  display: flex;
  flex-direction: row;
}
.follow-ngo {
  cursor: pointer;
}
.follow-ngo:hover {
  cursor: pointer;
  color: blue;
}
.subtext {
  font-size: 12px;
  font-style: italic;
}
.event {
  font-weight: bold;
  color: black;
}
.heading,
h3,
.highlights {
  width: 80%;
  margin: 2% auto;
  background-color: #f6f6fa;

  border-radius: 15px;
  padding: 10px 20px;
}
.show-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 70px;
  color: black;
  margin-bottom: 0px;
}
.highlights-heading {
  color: rgb(121, 92, 250);
  font-weight: bold;
  font-size: 16px;
}
.show-details p {
  margin-top: 2px;
}
.show-highlights {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.show-highlights:hover {
  transform: translateY(5px);
  transition-duration: 1s;
}
span {
  margin-left: 30px;
}
.next:before {
  content: " >";
}
.previous:before {
  content: "< ";
}

/* ------- Media Queries ------*/

@media only screen and (max-width: 599px) {
  .show-details p {
    font-size: 14px;
  }
  .left-side {
    width: 100%;
  }
  .commitment,
  .cause {
    display: none;
  }
  .next,
  .previous {
    height: 20px;
    cursor: pointer;
    width: 40px;
  }
  .previous:before {
    content: "<<";
  }
  .next:before {
    content: ">>";
  }
  .pagination {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 12%;
  }
  .display {
    margin-left: 0px;
  }
  .ngo-name {
    font-size: 20px;
  }
  .find {
    font-size: 14px;
  }
  .show-details p {
    font-size: 12px;
  }
  .results-container {
    margin-left: 2% auto;
  }
  .results-heading {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    width: 40vw;
    flex-direction: row;
    font-weight: bolder;
  }
}

@media only screen and (min-width: 599px) {
  .previous:before {
    content: "< Previous";
  }
  .next:before {
    content: "Next >";
  }
  .previous,
  .next {
    width: 70px;
  }
  .pagination {
    margin-right: 5%;
  }
  .ngo-name {
    font-size: 28px;
  }
  .show-details p {
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .pagination {
    margin-right: 8%;
  }
  .ngo-name {
    font-size: 32px;
  }
  .find {
    font-size: 20px;
  }
  .previous,
  .next {
    width: 90px;
  }
}
