.events,
.about-section {
  width: 80%;
  margin: 0% auto;
  background-color: #f6f6fa;
  border-radius: 10px;
  padding: 0px 20px 20px;
}
.register {
  display: flex;
  flex-direction: row-reverse;
  font-size: 14px;
  color: blue;
  background-color: rgb(230, 230, 249);
  transition: ease-in 0.5;
}
.event-name {
  font-weight: bold;
}
.preview {
  margin-top: 20px;
  color: rgb(121, 92, 250);
}
.preview-follow {
  margin-left: 0px;
}

.preview-follow,
.preview-donate {
  height: 30px;
  background-color: rgb(186, 128, 240);
  border: 2px solid rgb(186, 128, 240);
  margin-left: 10px;
  margin-top: 10px;
  color: white;
}
.background-image {
  border: 2px dotted plum;
  margin: 2% auto;
  height: 200px;
  width: 90%;
  position: relative;
  border-radius: 10px;
}
button {
  border-radius: 5px;
  border: none;
  padding: 5px;
}
.inform {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.info p {
  padding: 5px;
}
.image {
  border-radius: 5px;
  border: none;
  padding: 5px;
  display: flex;
  flex-direction: row;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 10px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: 10px;
}
.right-side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.donate {
  margin-top: 10px;
  color: white;
  background-color: rgb(167, 88, 241);
  border: 2px solid rgb(167, 88, 241);
  border-radius: 5px;
  margin-right: 10px;
}
.donate:hover {
  background-color: rgb(145, 17, 236);
  border: 2px solid rgb(145, 17, 236);
  border-radius: 5px;
  transition: ease-in 0.5s;
}
.events-grid {
  display: flex;
  column-count: 3;
  grid-row: 1fr 1fr 1fr;
}
.events-card {
  border: 2px dotted plum;
  border-radius: 10px;
  margin: 2% auto;
  height: 200px;
  width: 200px;
}

@media only screen and (max-width: 480px) {
  .back {
    padding-bottom: 10px;
  }
  .inform p {
    font-size: 10px;
    line-height: 10px;
    margin: 2px;
  }
  .inform {
    display: flex;
    flex-direction: column;
  }
}
