.container{
  padding: 0 70px;
  display: flex;
  flex-direction: column;
}
.user-profile{
  display: flex;
  /* margin: 30px 60px; */
  border: 1px solid blue;
}
.favourites{
  display: flex;
  flex-direction: row;
}
.tracker, .activity{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.edit{
  padding-right: 10px;
  cursor: pointer;
}
.back{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 30px;
}