.signup-wrapper{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  width: 60%;
  height: 60vh;
  display: flex;
  justify-content: center;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}
form{
  display: flex;
  flex-direction: column;
}
input {
  width: 300px;
  height: 50px;
  margin-right: 20px;
}
.form-password, .form-email{
  padding-bottom: 20px;
}
button{
  margin-right: 20px;
  padding: 10px;
  border: 2px;
  border-radius: 10px;
}
.signup{
  height: 36px;
  border: 2px solid purple;
  color: purple;
  border-radius: 20px;;
  width: 100px;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
  font-family: 'Tilt Warp', cursive;
  font-size: 18px;
  text-decoration: none;
}
.signup:hover{
  background-color: purple transparent;
  color: white;
  text-decoration: none;
}