body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.signup-logo {
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
}
.signup-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 700px;
  margin-top: 0px;
}
.signup-wrapper {
  height: 80vh;
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}
.name-inputs {
  border: 2px solid #19add6;
  width: 350px;
  height: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.firstname,
.lastname,
.email,
.password,
.confirm {
  border: 2px solid #19add6;
  width: 350px;
  height: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.signup-submit {
  height: 40px;
  cursor: pointer;
  width: 355px;
  color: white;
  font-size: 16px;
  border: 2px solid #19add6;
  margin-right: 4px;
  background-color: #19add6;
  height: 40px;
  padding-left: 5px;
}
.signup-submit:hover {
  border: none;
  background-color: #322ca9;
  color: white;
  transition: ease-in 0.5s;
}
::placeholder {
  margin-left: 10px;
}
.account {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}
.my-account,
.ngo-account {
  font-size: 14px;
  margin-left: 0px;
}
input[type="checkbox"] {
  height: 20px;
  width: 20px;
  border: blue solid 3px;
}
.login,
.ngo-signup {
  font-size: 12px;
  margin-left: 120px;
  cursor: pointer;
}
.error {
  color: red;
}
.login:hover,
.ngo-signup:hover {
  color: blue;
  font-weight: bolder;
}

/* Media Queries */

@media only screen and (max-width: 320px) {
  .firstname,
  .lastname,
  .email,
  .password,
  .confirm {
    width: 300px;
    height: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .ngo-account {
    font-size: 10px;
  }
  input[type="checkbox"] {
    height: 14px;
  }
  .signup-submit {
    height: 40px;
    cursor: pointer;
    width: 355px;
    color: white;
    font-size: 16px;
    border: 2px solid #19add6;
    border-radius: 0px;
    margin-right: 4px;
    background-color: #19add6;
  }
}

@media only screen and (max-width: 600px) {
  .signup-submit {
    width: 208px;
  }
  .ngo-account {
    font-size: 10px;
  }
  .my-account,
  .login {
    font-size: 8px;
  }
  input[type="checkbox"] {
    height: 14px;
  }
}

@media only screen and (min-width: 992px) {
  input {
    width: 400px;
  }
  .signup-submit {
    width: 408px;
  }
  .my-account,
  .login {
    font-size: 16px;
  }
}
