.profile-section,
.donations-section,
.events-section {
  width: 90%;
  margin: 5% auto;
  background-color: #f6f6fa;
  border-radius: 10px;
  padding: 0px 20px;
  margin-bottom: 20px;
}
.donations {
  display: flex;
  flex-direction: row;
}
.donation {
  display: flex;
  flex-direction: row;
  margin-right: 10%;
}
.follow {
  display: flex;
  justify-content: space-between;
}
.individ-profile p {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  font-size: 14px;
}
.organizations {
  margin: 5% auto;
}
button {
  cursor: pointer;
}
.goal-input {
  border: none;
}
.goal-btn {
  width: 150px;
  margin-bottom: 20px;
  margin-left: 10%;
}
.cancel-goal-btn,
.save-goal-btn {
  width: 150px;
  margin-bottom: 20px;
  margin-left: 2%;
}
.userprofile {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.donations-table {
  display: flex;
  flex-direction: row;
}
.goal-amt {
  margin-left: 10%;
}
.organizations {
  margin: 10px auto;
  margin-left: 30%;
}
.user-profile p {
  margin-top: 0px;
}
button {
  cursor: pointer;
}
.user-row {
  display: flex;
  flex-direction: row;
}
.follow-heading {
  margin-left: 0px;
  margin-top: 30px;
  margin-bottom: 5px;
}
.follow-list {
  font-size: 14px;
  color: black;
}
.contact {
  font-weight: bold;
}
.container {
  display: flex;
  flex-direction: column;
}
.user-image {
  margin-left: 200px;
}
.unfollow-btn {
  margin-left: 0px;
  border: none;
  color: blue;
  font-size: 12px;
  cursor: pointer;
}
.edit-btn {
  width: 100px;
  margin-top: 10px;
  cursor: pointer;
  margin-bottom: 40px;
}
.edit-btn:hover {
  color: white;
  background-color: blueviolet;
  border: 2px solid blueviolet;
  border-radius: 2px;
}

/* Media Queries */

@media only screen and (max-width: 320px) {
  .user-profile p {
    margin-top: 0px;
    font-size: 10px;
  }
  .follow-list,
  .unfollow-btn {
    font-size: 10px;
  }
  .edit-btn {
    width: 80px;
    font-size: 10px;
  }
  .follow-heading {
    margin-left: 0px;
    margin-top: 50px;
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 599px) {
  .follow-heading {
    display: flex;
  }
}
