.profile-section,
.donations-section,
.events-section {
  width: 80%;
  margin: 5% auto;
  background-color: #f6f6fa;
  border-radius: 15px;
  padding: 0px 20px;
  margin-bottom: 5px;
}
.donated-row {
  display: flex;
  flex-direction: row;
}
.donate-row-text {
  margin-right: 10px;
  font-weight: bold;
}
.profile-section {
  margin-top: 0px;
}
.donations {
  display: flex;
  flex-direction: row;
  margin-right: 2%;
}
.donations p {
  margin-right: 10px;
}
.donation {
  display: flex;
  flex-direction: row;
  margin-right: 10%;
}
.follow {
  display: flex;
  justify-content: space-between;
}
.individ-profile p {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  font-size: 14px;
}
button {
  cursor: pointer;
}
.goal-input input {
  border: none;
  width: 150px;
}
.donategoal-row {
  display: flex;
  justify-content: space-between;
}
.goal-row {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-left: 0px;
}
.goal-btn {
  width: 100px;
  margin-bottom: 20px;
  color: blue;
  background-color: rgb(230, 230, 249);
  transition: ease-in 0.5;
}
.goal-btn:hover {
  color: grey;
}
.remove:hover {
  color: blue;
  background-color: rgb(230, 230, 249);
  transition: ease-in 0.5;
}
.cancel-goal-btn,
.save-goal-btn {
  width: 70px;
  margin-bottom: 20px;
  margin-left: 2%;
  height: 30px;
}
.userprofile {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.donations-table {
  display: flex;
  flex-direction: column;
}
.profile-name p {
  font-size: 20px;
  font-weight: bolder;
  margin-left: 40px;
}
.event-button-row {
  display: flex;
  justify-content: space-between;
}
.amount-donated,
.amount-needed {
  font-weight: normal;
}
.goal-amt {
  margin-left: 10%;
}
.user-profile p {
  margin-top: 0px;
}
button {
  cursor: pointer;
}
.user-row {
  display: flex;
  flex-direction: row;
}
.follow-heading {
  margin-left: 0px;
  margin-top: 30px;
  margin-bottom: 5px;
}
.place {
  margin-bottom: 0px;
}
.list .plan {
  display: flex;
  flex-direction: row;
  font-size: 12px;
}
.event-title,
.follow-list {
  color: rgb(136, 136, 247);
  cursor: pointer;
  text-decoration: underline;
}
.event-title:hover,
.follow-list:hover {
  text-decoration: none;
  color: blue;
}
.contact {
  font-weight: bold;
}
.container {
  display: flex;
  flex-direction: column;
}
.user-image {
  margin-left: 200px;
}
.unfollow-btn {
  margin-left: 10px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  /* height: 30px; */
  color: blue;
  background-color: rgb(230, 230, 249);
  transition: ease-in 0.5;
}
.register {
  font-size: 14px;
}
.details:hover {
  color: grey;
  background-color: rgb(194, 194, 247);
  transition: ease-in 0.5;
}
.edit-btn,
.remove {
  width: 80px;
  margin-top: 10px;
  cursor: pointer;
  margin-bottom: 40px;
  height: 30px;
}
.remove {
  margin-top: 0px;
}
.edit-btn:hover {
  color: white;
  background-color: blueviolet;
  border: 2px solid blueviolet;
  border-radius: 2px;
}

/* Media Queries */

@media only screen and (max-width: 320px) {
  .user-profile p {
    margin-top: 0px;
    font-size: 10px;
  }
  .follow-list,
  .unfollow-btn {
    font-size: 10px;
  }
  .edit-btn {
    width: 80px;
    font-size: 10px;
  }
  .follow-heading {
    margin-left: 0px;
    margin-top: 50px;
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 599px) {
  .follow-heading {
    display: flex;
  }
}
