.donation-options{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
  padding-top: 20px;
}
.amount-btn{
  cursor: pointer;
  border: none;
  padding: 10px;
  margin-left: 10px;
  background-color: white;
  color: purple;
  font-size: 20px;
  border: 1px solid #716bc4;
  border-radius: 5px;
  width: 100px;
  height: 60px;
}


/* Media Queries */

@media only screen and (max-width: 320px) {
  .donation-card{
    max-width: 400px;
  }
  .amount-btn{
    width: 50px;
    height: 35px;
    font-size: 14px;
    padding: 5px;
    
  }
}

@media only screen and (max-width: 599px) {}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}