.donation-options {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
.amount-btn {
  cursor: pointer;
  border: none;
  padding: 10px;
  margin-left: 10px;
  background-color: white;
  color: purple;
  font-size: 16px;
  border: 1px solid #716bc4;
  border-radius: 5px;
  width: 100px;
  height: 40px;
}

/* Media Queries */

@media only screen and (max-width: 480px) {
  .donation-card {
    max-width: 400px;
  }
  .amount-btn {
    width: 40px;
    height: 35px;
    font-size: 14px;
    margin-left: 0px;
  }
  .donation-options {
    margin-bottom: 10px;
    margin-top: 0px;
    margin-left: 0px;
    font-size: 10px;
    display: flex;
    flex-direction: row;
  }
  .stripe-btn {
    width: 80px;
    background-color: white;
    margin-left: 0px;
  }
  .info {
    display: flex;
    flex-direction: column;
    line-height: 0px;
    align-items: right;
  }
}

@media only screen and (max-width: 599px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
