.card{
  width: 300px;
  height: 300px;
  margin-right: 30px;
  border-radius: 20px;
}
.image{
  width: 240px;
  height: 200px;
}
.card-container{
  display: flex;
  margin: 30px 60px;
  justify-content: center;
  max-width: 1170px;
  border: 1px solid blue;
}
.followBtn{
  border: 1px solid black;
  color: black;
  width: 80px;
  font-weight: bold;
}
.followBtn:hover{
  
}
.card-container{
  display: flex;
  margin: 30px 60px;
}