/* .row{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 30px auto;
}
.row:nth-child(even){
  background-color: lavender;
}
.row:nth-child(odd){
  background-color: lavenderblush;
} */