.modal-container{
  max-width: 900px;
  max-height: 700px;
  border: 1px solid purple;
  border-radius: 20px;
}
.modal-background{

}
.amount, .currency, .frequency{
  display: flex;
  justify-content: space-evenly;
}
.close{
  font-size: 30px;
  margin-right: 0px;  
  right: 0px;
}
.stripe{
  background-color: black;
}
/* .input{
  position: absolute;
}
.dollar{
  position: relative;
  top: 0;
  left: 10px;
} */

.donation-amounts{
  cursor: pointer;
}
.donation-amounts:hover{
  background-color: purple;
  color: white;
}
.amount{
  margin-bottom: 10px;

}