.modal-background{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-container{
  border: 1px solid purple;
  border-radius: 20px;
  height: 750px;
  width: 700px;
  position: absolute;
  background-color: #f4f5f7;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.amount, .currency, .frequency{
  display: flex;
  justify-content: space-evenly;
}
.close{
  font-size: 30px;
  margin-right: 0px;  
  right: 0px;
}
.stripe{
  background-color: black;
}
.donation-amounts{
  cursor: pointer;
}
.donation-amounts:hover{
  background-color: purple;
  color: white;
}
.amount{
  margin-bottom: 10px;
}
.close-btn {
  cursor: pointer;
  font-size: 25px;
  margin: 10px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}