.modal-container{
  max-width: 500px;
  max-height: 500px;
  border: 1px solid purple;
  border-radius: 20px;
}
.modal-background{

}
.amount, .currency, .frequency{
  display: flex;
  justify-content: space-evenly;
}
.close{
  font-size: 30px;
  margin-right: 0px;  
  right: 0px;
}