.edit-input{
  display: block;
  width: 90vw;
  max-width: 100px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.edit{
  display: flex;
}
.save-btn{
  height: 30px;
  border-radius: 5px;
}
.close-btn {
  border-radius: 5px;
  height: 30px;
  border: none;
} 