.wrapper {
  margin: 5% 10%;
  background-color: #eae9f8;
  border-radius: 20px;
  padding: 2%;
}
.select-filters {
  width: 200px;
}
.filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.filters-headings {
  width: 20%;
  display: flex;
  flex-direction: row;
  margin: 0px auto;
}
form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  border-radius: 0px;
}
.dropdown,
option {
  height: 40px;
  border-radius: 0px;
  font-family: "Montserrat", sans-serif;
}
.filters,
option {
  height: 40px;
}
.dropdown {
  flex-direction: column;
}
form.dropdown p {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 5px;
  margin-left: 0;
}
.searchBtn {
  width: 80px;
  margin-top: 7px;
  font-size: 16px;
  color: purple;
  font-weight: bolder;
  background-color: #eae9f8;
  margin-left: 5px;
}
.searchBtn:hover {
  color: rgb(205, 66, 205);
}

/* Media Queries */

@media only screen and (max-width: 599px) {
  .filters {
    display: flex;
    flex-direction: column;
  }
  .select-filters {
    width: 70vw;
    margin-top: 10px;
    height: 40px;
  }
  .any {
    font-size: 20px;
  }
  .cause {
    margin-top: 60px;
  }
  form.dropdown p {
    font-style: normal;
    font-size: 14px;
  }
  .searchBtn {
    height: 20px;
    /* font-size: 10px; */
    width: 60px;
    border: none;
  }
  .search-row {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 13%;
  }
}

@media only screen and (min-width: 599px) {
  .filters {
    display: flex;
    flex-direction: row;
  }
  .select-filters {
    width: 20vw;
    margin-top: 10px;
  }
  .cause {
    margin-top: 60px;
  }
  .cause,
  .commitment {
    display: none;
  }
  form.dropdown p {
    font-style: normal;
    font-size: 14px;
  }
  .searchBtn {
    height: 30px;
    /* font-size: 12px; */
    width: 70px;
    border: none;
  }
  .search-row {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 7%;
  }
}

@media only screen and (min-width: 768px) {
  .searchBtn {
    height: 40px;
    /* font-size: 14px; */

    width: 80px;
    border: none;
  }
  .select-filters {
    font-size: 20px;
  }
  .search-row {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 8%;
  }
}
