.modal-background {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal-popup {
  border: 15px solid lightskyblue;
  height: 90vh;
  max-height: 500px;
  width: 95vw;
  max-width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  color: black;
  transform: translate(-50%, -50%);
  background-color: white;
  /* font-family: "Domine", serif; */
}
.modal-content {
  margin: 4%;
}
.modal-innercontent {
  padding: 0% 4% 2% 4%;
}
.close-btn-row {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.close-btn {
  width: 20px;
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.contact-info {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.modal-inputs {
  margin: 3px auto;
  padding-top: 10px;
}
.modal-input {
  justify-content: center;
  width: 160px;
  height: 30px;
  margin-bottom: 3px;
  border-radius: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.button-container button {
  color: rgb(16, 16, 16);
  font-family: "Montserrat", sans-serif;
  background-color: lightskyblue;
  border: none;
  width: 260px;
  margin: 10px auto;
  font-size: 20px;
  height: 30px;
}
p {
  font-size: 14px;
  padding: 0px;
  margin-top: 5px;
}
.confirm-msg {
  margin: 5px auto;
}
.event-name {
  font-size: 30px;
  font-weight: bolder;
}
.event-org {
  font-weight: normal;
  font-size: 24px;
}

/* Media Queries */

@media only screen and (min-width: 320px) {
  .modal-popup {
    height: 50%;
    width: 68%;
    position: absolute;
  }
  .button-container button {
    height: 20px;
    margin-top: 12px;
    font-size: 12px;
  }
  .modal-inputs {
    height: 20px;
  }
  .contact-info {
    margin-top: 0px;
  }
  .message {
    font-size: 12px;
  }
  .event-name {
    font-size: 14px;
    font-weight: normal;
  }
  .contact {
    font-weight: normal;
    font-size: 12px;
    margin-top: 0px;
  }
  .text {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .contact {
    margin-top: 0px;
  }
  input.name,
  input.email {
    width: 30%;
    margin-bottom: 2px;
  }
  .contact-info {
    justify-content: left;
    flex-direction: column;
  }
  .event-org {
    color: black;
    font-weight: normal;
    font-size: 16px;
  }
  .modal-input {
    justify-content: center;
    width: 120px;
    height: 30px;
    margin-bottom: 3px;
    border-radius: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}

@media only screen and (max-width: 600px) {
  .event-name {
    font-size: 16px;
    font-weight: bolder;
  }
  .event-org {
    font-weight: 14px;
    color: purple;
  }
}

@media only screen and (min-width: 600px) {
  .modal-popup {
    height: 58%;
    width: 68%;
    position: absolute;
  }
  .event-name {
    font-size: 24px;
    font-weight: bolder;
  }
  .event-org {
    color: purple;
    font-weight: normal;
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  input.name,
  input.email {
    width: 20%;
  }
  .contact-info {
    justify-content: left;
    flex-direction: row;
  }
  .modal-popup {
    height: 60%;
    width: 70%;
    position: absolute;
  }
  .event-name {
    font-size: 26px;
    font-weight: bolder;
  }
  .event-org {
    color: purple;
    font-weight: bolder;
    font-weight: normal;
    font-size: 20px;
  }
}
