nav{
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  padding: 0px 20px 0px 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  height: 60px;
  background-color: rgb(76, 76, 245);
  color: white;
}
.navbar{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
.logo{
  margin-top: 10px;
  cursor: pointer;
}
.logout-btn{
  color: white;
  font-family: 'League Gothic', sans-serif;
  font-size: 28px;
  padding: 8px;
  margin-right: 10px;
}
.logout-btn:hover{
 color:aqua; 
 cursor: pointer;
}
.profile-btn{
  cursor: pointer;
}
