body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px 0px 0px 20px;
  height: 60px;
  color: white;
}
.fullname {
  padding-right: 10px;
}
.navbar {
  display: flex;
  width: 95%;
  justify-content: space-between;
}
.logo {
  margin-top: 14px;
  cursor: pointer;
  height: 50px;
  width: 120px;
}
.navbar-right {
  display: flex;
  justify-content: flex-end;
}
.icon {
  font-size: 26px;
  padding-top: 4px;
  margin-right: 0px;
}
.profile-btn {
  display: flex;
  flex-direction: row;
  font-weight: bolder;
  background: none;
  color: rgb(121, 92, 250);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin-top: 10px;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
}
.profile-btn p {
  margin-left: 6px;
}
.logout-btn {
  background: none;
  color: #322ca9;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin-top: 10px;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
}
.profile-btn:hover {
  color: rgb(184, 170, 245);
  padding: 5px;
  border-radius: 10px;
}
.logout-btn:hover {
  font-weight: bold;
  color: rgb(89, 89, 249);
  transition: ease-in 0.5;
}

/* Media Queries */
@media only screen and (max-width: 400px) {
  .logout-btn {
    font-size: 10px;
  }
  .profile-btn {
    display: flex;
    flex-direction: column;
  }
  .profile-btn p {
    margin: 0px;
    display: flex;
    flex-direction: row-reverse;
  }
}

@media only screen and (max-width: 599px) {
  .logout-btn,
  .profile-btn {
    font-size: 14px;
    margin-top: 12px;
  }
  .logo {
    height: 40px;
    width: 100px;
    margin-top: 24px;
  }
}
@media only screen and (min-width: 599px) {
  .logout-btn,
  .profile-btn {
    font-size: 14px;
    margin-top: 12px;
  }
  .logo {
    height: 40px;
    width: 100px;
    margin-top: 20px;
    margin-left: 16px;
  }
}

@media only screen and (min-width: 992px) {
  .logout-btn,
  .profile-btn {
    font-size: 14px;
    margin-top: 8px;
  }
  .logo {
    height: 40px;
    width: 100px;
    margin-top: 20px;
    margin-left: 16px;
  }
}

@media only screen and (min-width: 992px) {
  .logout-btn,
  .profile-btn {
    font-size: 14px;
    margin-top: 8px;
  }
}

@media only screen and (min-width: 992px) {
  .logout-btn,
  .profile-btn {
    font-size: 14px;
    margin-top: 8px;
  }
}

@media only screen and (min-width: 992px) {
  .logout-btn,
  .profile-btn {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1200px) {
  .logout-btn,
  .profile-btn {
    font-size: 14px;
  }
}
