.donors-heading {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;
}
p {
  font-size: 14px;
}
.first-name {
  margin-right: 5px;
}
.total,
.donations-row p {
  text-decoration: underline;
}
span {
  text-decoration: none;
}
.row {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-weight: bolder;
}
.amount-span,
.firstname {
  margin-right: 30px;
}

.date {
  margin-left: 30px;
}
