.admin-form {
  width: 100%;
  border: 1px solid orange;
  display: flex;
  flex-direction: column;
}
select,
.admin-form input {
  border: 1px solid grey;
  width: 300px;
}
.checkbox-event {
  height: 20px;
  width: 20px;
}
