.follow{
  display: flex;
  justify-content: space-between;
}
.user-profile{
  display: flex;
  flex-direction: column;
  border: 1px solid orangered;
}
.edit-row{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 80%;
}
.contact, .address{
  font-weight: bold;
}
.user-image{
  margin-left: 200px;
}
.avatar{
  border-radius: 50%;
  border: 1px solid blue;
  width: 100px;
  height: 100px;
}
.edit-row p{
  margin-right: 20px;
}
.edit-icon{
  margin-top: 15px;
  cursor: pointer;
}
.edit-input{
  width: 200px;
}
.email-row{
  display: flex;
  flex-direction: row;
}
.save-email-btn{
  cursor: pointer;
  border: 1px solid lightsalmon;
}
.organizations{
  border: 2px solid lightblue;
}
.unfollow{
  cursor: pointer;
}
.unfollow:hover{
  color: purple;
}