.follow{
  display: flex;
  justify-content: space-between;
}
.user-profile{
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}
.user-profile p{
  margin-top: 0px;
}
.follow-heading{
  margin-left: 0px;
  margin-top: 30px;
}
.follow-list{
  font-size: 14px;
}
.contact{
  font-weight: bold;
}
.user-profile p{
  font-size: 14px;
}
.user-image{
  margin-left: 200px;
}
.unfollow-btn{
  margin-left: 0px;
  border: none;
  color: blue;
  font-size: 12px;
  cursor: pointer;
}
.edit-btn{
  width: 100px;
  margin-top: 10px;
  cursor: pointer;
}
.edit-btn:hover{
  color: white;
  background-color: blueviolet;
}