.follow{
  display: flex;
  justify-content: space-between;
}
.edit-row{
  display: flex;
  /* flex-direction: row;
  justify-content: space-between; */
}
.edit-row p{
  margin-right: 20px;
}
.edit-icon{
  margin-top: 15px;
  cursor: pointer;
}
.edit-input{
  width: 200px;
}
.email-row{
  display: flex;
  flex-direction: row;
}
.save-email-btn{
  cursor: pointer;
}