.container{
  padding: 0 70px;
  display: flex;
  flex-direction: column;
}
.user-profile{
  display: flex;
  /* border: 1px solid blue; */
  margin-bottom: 20px;
}
.favourites{
  display: flex;
  margin-bottom: 20px;
}
.tracker, .activity{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.edit{
  padding-right: 10px;
  cursor: pointer;
}
.back{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 30px;
}
.profile-drawer{
  height: 100vh;
  width: 500px;
  margin-top: 0px;
  margin-right: 0px;
  background-color: whitesmoke;
  transition: all 0.3s ease-in-out;
  transform: translate(900px);
  position: absolute;
}
.profile-drawer_open{
  transform: translate(0);
}