.save-goal-btn,
.close-goal-btn {
  border: 1px solid grey;
  height: 26px;
  border-radius: 3px;
}
.save-goal-btn {
  margin-left: 5px;
}
.close-goal-btn {
  margin-left: 10px;
}
.heading {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-size: 22px;
  font-weight: bolder;
  text-decoration: underline;
}
.donations {
  display: flex;
  flex-direction: row;
  font-size: 14px;
}
.ngo {
  padding-left: 40px;
}
p {
  margin-right: 20px;
}
.goal-input {
  height: 20px;
  width: 150px;
}
.amount-span {
  margin-left: 0px;
}
.amount-donated,
.amount-needed {
  font-size: 14px;
  font-weight: normal;
}
.edit {
  display: flex;
  flex-direction: row;
}
.ngo {
  margin-left: 0px;
}

/* Media Queries */

@media only screen and (max-width: 320px) {
  h2,
  h4,
  .amount-donated,
  .amount-needed {
    font-size: 10px;
  }
  .edit {
    width: 40px;
    font-size: 10px;
    justify-content: center;
  }
}
