.volunteer-item{
  display: flex;
  justify-content: space-between;
}
.event-heading{
  display: flex;
  justify-content: space-between;
  text-decoration: underline;
}
.next-event{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.list{
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;

}
