.events-container {
  width: 60vw;
}
.volunteer-item {
  display: flex;
  justify-content: space-between;
}
.event-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: underline;
}
.event-heading p {
  font-size: 14px;
}
.events {
  justify-content: space-between;
  font-size: 14px;
}
.list {
  margin: 5px;
  width: 100%;
  margin-bottom: 26px;
}
.place {
  font-size: 16px;
  font-weight: bold;
}
.name,
.org,
.date {
  font-size: 14px;
}

/* Media Queries */

@media only screen and (max-width: 320px) {
  .event-heading p {
    font-size: 10px;
  }
  p {
    padding-right: 20px;
  }
  .events-container {
    width: 50vw;
  }
  .list {
    padding-bottom: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
  }
  .date {
    font-size: 12px;
  }
  .event-heading {
    display: none;
  }
  .place {
    font-size: 12px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 599px) {
  .list {
    padding-bottom: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
  }
  .date {
    font-size: 12px;
  }
  .event-heading {
    display: none;
  }
  .place {
    font-size: 14px;
    font-weight: bold;
  }
}

@media only screen and (min-width: 599px) {
  .events-container {
    width: 90vw;
  }
}
