main{
  display: flex;
  justify-content: center;
  align-items: center;
}
button:hover{
  outline: 2px solid purple;
}
.stats{
  height: 100px;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 80px;
}
.filters{
  display: flex;
  margin: 30px 60px 0px 0px;
  padding: 0px 70px;
}
.input-group{
  font-size: 30px;
  width: 500px;
}
form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.row{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  border-top: 1px solid rgb(232, 232, 232);
  border-radius: 25px;
  margin-bottom: 40px;
}
.display{
  padding: 0px 70px;
}
.pagination{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 40px;
}
.website{
  font-size: 16px;
  font-weight: lighter;
}
.location{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  padding-left: 20px;
  margin-top: 20px;
}
.display-container{
  margin: 30px 60px;
}
.infoBtn{  
  height: 36px;
  color: black;
  border-radius: 20px;
  width: 400px;
  padding: 5px 10px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bolder;
}
.infoBtn:hover{  
}
.search{ 
  color: purple;
  border-radius: 20px;
  width: 120px;
  margin-right: 10px;
  cursor: pointer;
  font-weight: bolder;
  background-color: none;
}
.rightside{
  margin-right: 0;
  margin-left: auto;
  margin-top: 20px;
}
h1{
  margin-right: 0;
  justify-content: flex-end;
  padding: 0px 70px;
}
.heading{
  padding-left: 0px;
}
.icon{
  font-size: 20px;
  padding-right: 5px;
}
.searchBtn{
  height: 40px;
  margin-left: 20px;
  padding-top: 40px;
}
.next, .previous{
  height: 40px;
  cursor: pointer;
}
.category{
  font-style: italic;
  font-size: 14px;
  font-weight: lighter;
}
body.active-modal {
  overflow-y: hidden;
}
.modal-background {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal-popup {
  height: 750px;
  width: 700px;
  position: absolute;
  background-color: #f4f5f7;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.modal-popup-heading {
  display: flex;
  justify-content: space-between;
  height: 70px;
}
.modal-right{
  display: flex;
}
.modal-popup-heading p {
  margin-left: 25px;
}
.modal-content {
  width: 90%;
  margin: 20px auto;
}
.close-btn {
  cursor: pointer;
  font-size: 25px;
  margin: 10px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}