.pagination{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 40px;
  margin-right: 60px;
}
h3{
  margin: 30px 100px;
} 
.next, .previous{
  height: 40px;
  cursor: pointer;
  color: #19add6;
  border: 2px solid #19add6;
  width: 100px;
  margin-right: 7px;
  font-family: 'Montserrat', sans-serif;
}
.next:hover, .previous:hover{
  background-color: #19add6;
  color: white;
}
.arrow:hover{
  color: white;
}
.contact{
  padding-top: 20px;
}
.display{
  padding: 0px 70px;
}
.display-container{
  margin: 30px 60px;
}
.ngo-name{  
  color:  #322ca9;
  font-family: 'League Gothic', sans-serif;
  margin-right: 10px;
  font-size: 36px;
  letter-spacing: 0.5px;
  cursor: pointer;
}
.volunteer-btn{
  height: 40px;
  border: 1px solid purple;
  color: purple;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  border-radius: 1px;
  padding: 10px;
  width: 87px;
}
.volunteer-btn:hover{
  border: 2px solid purple;
}
.show-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 70px;
  color: black;
}
span{
  margin-left: 30px;
}
body.active-modal {
  overflow-y: hidden;
}
.modal-background {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal-popup {
  height: 90vh;
  max-height: 500px;
  width: 95vw;
  max-width: 900px;
  position: absolute;
  background-color: #f4f5f7;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.modal-content {
  height: 100vh;
  max-height: 500px;
  width: 105vw;
  max-width: 900px;
  display: flex;
  flex-direction: row;
}
.left-side{
  width: 40%;
}
.modal-image{
  width: 100%;
  height: 90vh;
  max-height: 500px;
  /* object-fit: cover; */
}
.right-side {
  background-color:rgb(96, 96, 245);
  color: white;
  width: 60%;
}
.close-btn-row{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.close-btn {
  width: 20px;
  cursor: pointer;
  font-size: 20px;
  margin-right: 20px;
  margin-top: 20px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.right-side-content{
  margin-top: 0px;
  margin-left: 7%;
  max-height: 350px;
  width: 90vw;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.registering{
  font-size: 18px;
  color: white;
  margin-top: 0px;
}
.event-details{
  padding: 0px 60px;
  margin-bottom: 30px;
}
.row{
  display: flex;
  flex-direction: row;
}
.contact-info{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 480px;
  justify-content: center;
  margin-top: 10px;
}
input.name, input.email{
  width: 200px;
  height: 30px;
  margin-top: 5px;
  border-radius: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: 5px;
}
.confirm{
  color:#19add6;
  font-size: 12px;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  margin-right: 7%;
}
.confirm:hover{
  cursor: pointer;
  font-weight: bolder;
}
p{
  font-size: 14px;
  padding: 0px;
  margin-bottom: 5px;
}
.event-name{
  font-size: 20px;
  color: yellow;
  font-weight: bolder;
}
.event-org{
  color: pink;
  font-weight: bolder;
  font-size: 16px;
}
.event-row{
  display: flex;
  flex-direction: row;
}
.follow{
  font-family: 'Montserrat', sans-serif;
  border: none;
  background-color: white;
  color:rgb(96, 96, 245);
}
.button-row{
  display: flex;
  flex-direction: row
}
.next:before{
  content: ' >';
}
.previous:before{
  content: '< ';
}

/* ------- Media Queries ------*/

@media only screen and (max-width: 599px) {
  h3{
    display: flex;
    margin-left: 40px;
    width: 100%;
    font-size: 14px;
  }
  .modal-popup {
    height: 50vh;
    max-height: 500px;
    width: 90vw;
    max-width: 300px;
    position: absolute;
    background-color: #f4f5f7;
    /* left: 50%;
    top: 50%; */
    /* transform: translate(-50%, -50%); */
  }
  .modal-content {
    height: 50vh;
    max-height: 500px;
    width: 90vw;
    max-width: 300px;
    display: flex;
    flex-direction: column;
  }
  .modal-image{
    width: 100%;
    height: 25vh;
    max-height: 500px;
    object-fit: cover;
  }
  .left-side{
    width: 100%;
  }
  .next, .previous{
    height: 20px;
    cursor: pointer;
    color: #19add6;
    border: 2px solid #19add6;
    width: 30px;
    font-size: 12px;
    margin-right: 7px;
    font-family: 'Montserrat', sans-serif;
  }
  .previous:before{
    content: '<<'
  }
  .next:before{
    content: '>>'
  }
  .pagination{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 12%;
  }
  .display-container{
    margin: 2%;
  }
  .ngo-name{
    font-size: 26px;
  }
}

@media only screen and (min-width: 599px) {
  .previous:before{
    content: '< Previous';
  }
  .next:before{
    content: 'Next >'
  }
  .previous, .next{
    width: 70px;
    height: 26px;
    font-size: 10px;
  }
  .pagination{
    margin-right: 5%;
  }
}

@media only screen and (min-width: 768px) {
  .pagination{
    margin-right: 8%;
  }
}

