.filters{
  display: flex;
  margin: 30px 60px 0px 0px;
  padding: 0px 70px;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.display{
  padding: 0px 70px;
}
/* .pagination{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 40px;
} */
.website{
  font-size: 16px;
  font-weight: lighter;
}
.display-container{
  margin: 30px 60px;
}
.infoBtn{  
  color: purple;
  border-radius: 20px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  text-decoration: underline;
}
.show-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.registering{
  padding: 0px 60px;
  font-size: 20px;
  margin-bottom: 30px;
}
.event-details{
  padding: 0px 60px;
  margin-bottom: 30px;
}
span{
  margin-left: 30px;
}
.searchBtn{
  height: 40px;
  margin-left: 20px;
}
/* .next, .previous{
  height: 40px;
  cursor: pointer;
} */
body.active-modal {
  overflow-y: hidden;
}
.modal-background {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal-popup {
  height: 500px;
  width: 700px;
  position: absolute;
  background-color: #f4f5f7;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.modal-content {
  width: 100%;
}
.modal-text{
  display: flex;
  justify-content: center;
  margin: 30px auto;
}
.right-side {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: end;
}
.close-btn {
  cursor: pointer;
  font-size: 25px;
  margin-right: 20px;
  margin-top: 20px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.volunteer-btn{
  height: 40px;
}
.confirm{
  background-color: rgb(122, 122, 244);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: end;  
  height: 40px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.confirm:hover{
  background-color: rgb(96, 96, 245);
}
.contact-info{
  display: flex;
  width: 500px;
  justify-content: center;
}
input.name, input.email{
  width: 200px;
  margin-top: 5px;
}
.row{
  display: flex;
  flex-direction: row;
}